[client]
socket          = /tmp/mysqld.sock

[mysqld]
character_set_server = utf8
port            = 3306
socket          = /tmp/mysqld.sock
datadir= /export/mysql
user=mysql
skip-external-locking
key_buffer_size = 16M
#table_open_cache = 64M
sort_buffer_size = 512K
net_buffer_length = 8K
read_buffer_size = 256K
read_rnd_buffer_size = 512K
myisam_sort_buffer_size = 8M
default-storage-engine = InnoDB

server-id = 1
skip-name-resolve
log-bin = /export/mysql/logs/mysql-bin.log
binlog_format=mixed
binlog-ignore-db=mysql,test,information_schema
max_binlog_size = 512M
slow_query_log_file=/export/mysql/logs/mysql-slow.log

innodb_data_file_path=ibdata1:10M:autoextend
innodb_buffer_pool_size=8G
innodb_additional_mem_pool_size=256M
innodb_log_files_in_group=10
innodb_log_file_size=256M
innodb_log_buffer_size=16M
innodb_flush_log_at_trx_commit = 1

innodb_buffer_pool_instances=15
innodb_file_format = Barracuda
innodb_file_per_table = true
innodb_doublewrite=1
innodb_purge_threads=1
table_open_cache=8000
open_files_limit=8000
max_connections=2000
max_user_connections=1000
max_allowed_packet=64M
innodb_read_io_threads = 8
innodb_write_io_threads = 8
innodb_change_buffering=all
sync_binlog=0
query_cache_type=OFF
thread_cache_size=1000
back_log=2000
connect_timeout=15
max_prepared_stmt_count=1048560
loose-performance_schema=0

[mysql_safe]
log-error=/export/mysql/mysqld_error.log
pid-file=/export/mysql/mysqld.pid
